# Pyber Data Analysis

## This Jupyter Notebook will document the steps to create a bubble plot that showcases the relationship between four key variables:

* Average Fare ($) Per City
* Total Number of Rides Per City
* Total Number of Drivers Per City
* City Type (Urban, Suburban, Rural)

In [1]:
%matplotlib notebook

In [2]:
# import dependencies
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import linregress

In [6]:
# create path to datasets and then read them into pandas dataframes
city_data_csv = "Resources/city_data.csv"
ride_data_csv = "Resources/ride_data.csv"

city_data_df = pd.read_csv(city_data_csv)
ride_data_df = pd.read_csv(ride_data_csv)

ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [5]:
# first check to see if there are any outliers in the city data

# Use numpy to create quartiles
city_lower_quartile = np.percentile(city_data_df["driver_count"], 25, axis=0)
city_middle_quartile = np.percentile(city_data_df["driver_count"], 50, axis=0)
city_upper_quartile = np.percentile(city_data_df["driver_count"], 75, axis=0)
# Calculate the interquartile range
city_interquartile_range = city_upper_quartile - city_lower_quartile
# Find the upper boundary
city_upper_boundary = city_middle_quartile + (1.5 * city_interquartile_range)
# Find the lower boundary
city_lower_boundary = city_middle_quartile - (1.5 * city_interquartile_range)
# Check for any outliers in city data and note their position in the dataframe
city_counter = 0
city_outlier_arr = []
for element in city_data_df["driver_count"]:
    if element < city_lower_boundary:
        city_outlier_arr.append(city_counter)
    elif element > city_upper_boundary:
        city_outlier_arr.append(city_counter)
    city_counter += 1

# remove the outliers from the city data dataframe
for element in city_outlier_arr:
    city_data_df.drop(city_data_df.index[element], inplace=True)

116

In [7]:
# similarly, check to see if there are any outliers in the ride data

# Use numpy to create quartiles
ride_lower_quartile = np.percentile(ride_data_df["fare"], 25, axis=0)
ride_middle_quartile = np.percentile(ride_data_df["fare"], 50, axis=0)
ride_upper_quartile = np.percentile(ride_data_df["fare"], 75, axis=0)
# Calculate the interquartile range
ride_interquartile_range = ride_upper_quartile - ride_lower_quartile
# Find the upper boundary
ride_upper_boundary = ride_middle_quartile + (1.5 * ride_interquartile_range)
# Find the lower boundary
ride_lower_boundary = ride_middle_quartile - (1.5 * ride_interquartile_range)
# Check for any outliers in ride data and note their position in the dataframe
ride_counter = 0
ride_outlier_arr = []
for element in ride_data_df["fare"]:
    if element < ride_lower_boundary:
        ride_outlier_arr.append(ride_counter)
    elif element > ride_upper_boundary:
        ride_outlier_arr.append(ride_counter)
    ride_counter += 1

# remove the outliers from the ride data dataframe
for element in ride_outlier_arr:
    ride_data_df.drop(ride_data_df.index[element], inplace=True)

IndexError: index 2374 is out of bounds for axis 0 with size 2369